@Styles.Render("~/Content/css")
@{
    ViewBag.Title = "Deleted";
}

<h2>Dinner Deleted</h2>

<div>
    <p>Your dinner was succesfully deleted.</p>
</div>

<div>
    <p><a href="/dinners">Click for Upcoming Dinners</a></p>
</div>

